/* https: //coolors.co/ab8fda-87c1f5-80d5be-f89d81-f9c62b-8cc540-e993b6-9b9fa7-515966-a6816a; */
/* https://coolors.co/9775d1-68b2f3-66ccb1-f68765-f8be12-78ac35-e378a3-888d96-40464f-99735c */
.purple {
    background-color: #ab8fda;
}
.blue {
    background-color: #87c1f5;
}
.mint {
    background-color: #80d5be;
}
.orange {
    background-color: #f89d81;
}
.yellow {
    background-color: #f9c62b;
}
.green {
    background-color: #8cc540;
}
.red {
    background-color: #ce6482;
}
.pink {
    background-color: #e993b6;
}
.grey {
    background-color: #9b9fa7;
    color: #fff;
}
.darkgrey {
    background-color: #515966;
    color: #fff;
}
.brown {
    background-color: #a6816a;
    color: #fff;
}

.purple2 {
    background-color: #9775d1;
}
.blue2 {
    background-color: #68b2f3;
}
.mint2 {
    background-color: #66ccb1;
}
.orange2 {
    background-color: #f68765;
}
.yellow2 {
    background-color: #f8be12;
}
.green2 {
    background-color: #78ac35;
}
.red {
    background-color: #c44569;
}
.pink2 {
    background-color: #e378a3;
}
.grey {
    background-color: #9b9fa7;
    color: #fff;
}
.darkgrey {
    background-color: #515966;
    color: #fff;
}
.brown {
    background-color: #a6816a;
    color: #fff;
}
